* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

writereal-text {
    font-size: 40px;
    position: relative;
    width: 100%;
    height: 100%;
}

div {
    display: flex;
    padding: 0.25em;
    border: 4px solid lavender;
    width: 5em;
    height: 1.4em;
    align-items: center;
    justify-content: center;
}

.reveal {
    position: relative;
    z-index: 200;
}

.reveal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: white !important;
    animation: reveal 1s cubic-bezier(0.2, 0.6, 0.4, 0.9) forwards;

}

@keyframes reveal {
    0% {
        transform: scaleX(1);
        transform-origin: right;
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
        opacity: 1;
    }
}