* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

book {
  width: 42em;
  height: 30em;
  display: flex;
  flex-direction: row;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: scale(1);
}

page {
  position: absolute;
  display: flex;
  width: 21em;
  height: 30em;
  background-color: white;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 0px 100px, rgba(0, 0, 0, 0.4) 0px 4px 10px;
  border: 2px solid burlywood;
}

page[data-number="4"] {
  background-color: burlywood;
  transform-origin: right bottom;
  animation: pageFlip 5s 2.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

page[data-number="3"] {
  background-color: white;
  transform-origin: right bottom;
  animation: pageFlip 5s 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

page[data-number="2"] {
  background-color: white;
  transform-origin: right bottom;
  animation: pageFlip 5s 7.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

page[data-number="1"] {
  background-color: burlywood;
  transform-origin: right bottom;
  animation: pageFlip 5s 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

@keyframes pageFlip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}